<!DOCTYPE html>
<html lang="en">

<head>
   <!-- head component -->
   <script src="head.js"></script>
   <title>SUPRESSO &bull; Batal</title>
   <style>
      /* garis bantu */
      * {
         /* outline: solid 1px green; */
      }
   </style>
</head>

<body>

   <main class="container-fluid p-0">
      <div class="row no-gutters">

         <div class="col-lg-7 bg-white">
            <div class="container-fluid px-3 py-4 p-sm-4 p-md-5 mb-4 mb-lg-0">
               <h3 class="font-weight-bold mb-4">Pradhokot Payment</h3>

               <div class="media mb-3 align-items-center">
                  <i class="bi bi-question-circle display-1 text-success mr-3"></i>
                  <div class="media-body">
                     <small>Order ID : IP-CF0232350</small>
                     <br>
                     <strong>Hi Pradhokot</strong>
                  </div>
               </div>

               <h4 class="font-weight-bold">Yah, kenapa dibatalin?</h4>
               <p class="mb-4">
                  Sayang sekali, pesanan kakak sudah kami batalkan di sistem. Apakah ada penawaran kami yang kurang?
                  Jika kakak masih ragu membeli, kami terbuka lebar untuk ngobrol bareng tentang produk kami, bisa chat
                  kak Pradhokot nih
                  <br>
                  <button class="btn btn-success mt-2">
                     <i class="bi bi-whatsapp mr-2"></i> Chat Pradhokot
                  </button>
                  <br><br>
                  Ditunggu ya!
               </p>
               <div>
                  <a href="kelas.html" class="btn btn-lg btn-primary">Lihat Program Lain <i
                        class="bi bi-chevron-right"></i></a>
                  &nbsp;&nbsp;<br class="d-md-none"><br class="d-md-none">
                  <span>Butuh bantuan ?</span> <a href="#" class="text-primary"><u>Hubungi kami</u></a>
               </div>
            </div>
         </div>

         <div class="col-lg-5">
            <div class="container-fluid px-3 py-4 p-sm-4 p-md-5">
               <ul class="list-group list-group-flush" style="margin-top: -.75rem;">
                  <li class="list-group-item px-0 border-secondary bg-transparent">
                     <ul class="list-group list-group-flush">
                        <h5 class="font-weight-bold">Keranjang</h5>
                        <li class="list-group-item px-0 bg-transparent">
                           <div class="row align-items-center">
                              <div class="col-3">
                                 <img src="assets/img/lanscape.png" class="img-fluid rounded" alt="">
                              </div>
                              <div class="col-9">
                                 <h6 class="mb-0">Belajar Pemrograman PHP</h6>
                                 <small>Tipe : course</small>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item px-0 bg-transparent">
                           <div class="row align-items-center">
                              <div class="col-3">
                                 <img src="assets/img/lanscape.png" class="img-fluid rounded" alt="">
                              </div>
                              <div class="col-9">
                                 <h6 class="mb-0">Belajar Pemrograman PHP</h6>
                                 <small>Tipe : course</small>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item px-0 bg-transparent">
                           <div class="row align-items-center">
                              <div class="col-3">
                                 <img src="assets/img/lanscape.png" class="img-fluid rounded" alt="">
                              </div>
                              <div class="col-9">
                                 <h6 class="mb-0">Belajar Pemrograman PHP</h6>
                                 <small>Tipe : course</small>
                              </div>
                           </div>
                        </li>

                     </ul>
                  </li>
                  <li class="list-group-item px-0 border-secondary bg-transparent">
                     <div class="row">
                        <div class="col-5 mb-2">Harga</div>
                        <div class="col-7 text-right">Rp 129.000,-</div>
                     </div>
                     <div class="row">
                        <div class="col-5">Diskon</div>
                        <div class="col-7 text-right">Rp 0,-</div>
                     </div>
                  </li>
                  <li class="list-group-item px-0 border-secondary bg-transparent">
                     <div class="row mb-5" style="font-size: 1.25rem;">
                        <div class="col-5 small">Total</div>
                        <div class="col-7 font-weight-bold text-right">Rp 129.000,-</div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

      </div>
   </main>
   <style>
      @media (min-width: 992px) {
         main>.row>div {
            min-height: 100vh;
         }
      }
   </style>

   <!-- footer component -->
   <script src="footer.js"></script>

</body>

</html>